.table-container {
  margin-bottom: 20px;
}

.tables.no-more-tables {
  box-shadow: 0 0 4px 0 rgba(0,0,0,.08),0 2px 4px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  background: #fff;
  width: 100%;
}

.tables.no-more-tables > thead > tr > th {
  border-bottom: 1px solid #DEDEDE;
}

.tables.no-more-tables > thead > tr > th {
  padding: 10px 20px 7px;
}

.tables.no-more-tables > thead > tr:first-child > th:first-child {
  border-radius: 4px 0 0 0;
}

.tables.no-more-tables > thead > tr:first-child > th:last-child {
  border-radius: 0 4px 0 0;
}

.tables.no-more-tables > tbody > tr > td {
  padding: 10px 20px;
}

.tables.no-more-tables.tables-default > thead > tr > th {
  color: #F7F7F7;
  background-color: #4D525B;
  border-color: #4D525B;
}

.tables.no-more-tables.tables-default > tbody > tr > td:first-child {
  border-left-color: #4D525B ;
}

.tables.no-more-tables.tables-default > tbody > tr > td:last-child {
  border-right-color: #4D525B;
}

.tables.no-more-tables.tables-default > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.tables.no-more-tables.tables-default > tbody > tr > {
  border-bottom: 1px solid #DEDEDE;
}

@media only screen and (max-width: 800px) {
  table.no-more-tables,
  .no-more-tables > thead,
  .no-more-tables > tbody,
  table.no-more-tables > thead > tr > th,
  table.no-more-tables > tbody > tr > td,
  table.no-more-tables > tbody > tr,
  table.no-more-tables > thead > tr {
    display: block !important;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .no-more-tables > thead > tr {
    position: absolute;
    top: -9999px !important;
    left: -9999px !important;
  }

  .no-more-tables > tbody > tr { border: 1px solid #ccc !important; }

  .no-more-tables > tbody > tr > td {
    /* Behave  like a "row" */
    border: none !important;
    position: relative !important;
    padding-left: 50% !important;
    white-space: normal !important;
    text-align: left !important;
  }

  .no-more-tables > tbody > tr > td:before {
    /* Now like a table header */
    position: absolute !important;
    /* Top/left values mimic padding */
    top: 6px !important;
    left: 6px !important;
    width: 45% !important;
    padding-right: 10px !important;
    white-space: nowrap !important;
    text-align: left !important;
    font-weight: bold !important;
  }

  /*
  Label the data
  */
  .no-more-tables > tbody > tr > td:before { content: attr(data-title) !important; }
}
