<div>
  Field Calculator: A decision support tool for sustainable rice production
</div>

<div>
  The Field Calculator is a web-based application for data collection, and impact assessment of inputs and practices in rice production with the aim to provide insights and options for optimization towards sustainability. It has been developed during the CORIGAP project to compare farmers’ practices and to analyze trade-offs in environmental, socioeconomics, and biophysical aspects of sustainability. The tool can be used by most actors in rice sector from farmers, extensionists, rice researchers, rice food and seed certification agencies, pesticide industries, agriculture students, environmentalists and policy makers.
</div>
