<h3 class="page-title" translate>Import Farmers</h3>


<div class="row table-page">
  <div class="col-md-9">
    <table class="table" ng-if="ifo.uploader.queue">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th ng-show="ifo.uploader.isHTML5">Size</th>
          <th ng-show="ifo.uploader.isHTML5">Progress</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in ifo.uploader.queue">
          <td><strong>{{item.file.name}}</strong></td>
          <td ng-show="ifo.uploader.isHTML5" nowrap>
            {{ item.file.size/1024/1024|number:2 }} MB
          </td>
          <td ng-show="ifo.uploader.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar"
                  role="progressbar"
                  ng-style="{ 'width': item.progress + '%' }" style="width: 0%;">
                </div>
            </div>
          </td>
          <td class="text-center">
              <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
          </td>
          <td nowrap="">
            <button type="button"
              class="btn btn-success btn-xs"
              ng-click="item.upload()"
              ng-disabled="item.isReady || item.isUploading || item.isSuccess">
              <span class="glyphicon glyphicon-upload"></span> Upload
            </button>
            <button type="button"
              class="btn btn-warning btn-xs"
              ng-click="item.cancel()"
              ng-disabled="!item.isUploading" disabled="disabled">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>
            <button type="button"
              class="btn btn-danger btn-xs" ng-click="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      Queue progress:
      <div class="progress" style="">
          <div class="progress-bar" role="progressbar" ng-style="{ 'width': ifo.uploader.progress + '%' }"></div>
      </div>
    </div>

    <div style="float:right;">
      <button type="button" class="btn btn-success btn-s" ng-click="ifo.uploader.uploadAll()"
        ng-disabled="!ifo.uploader.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Upload all
      </button>
      <button type="button" class="btn btn-warning btn-s" ng-click="ifo.uploader.cancelAll()"
        ng-disabled="!ifo.uploader.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
      </button>
      <button type="button" class="btn btn-danger btn-s" ng-click="ifo.uploader.clearQueue()"
        ng-disabled="!ifo.uploader.queue.length">
          <span class="glyphicon glyphicon-trash"></span> Remove all
      </button>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading" translate>
        Actions
      </div>
      <div class="panel-body">
        <div class="inputWrapper btn btn-warning" style="margin-bottom: 10px;">
          Select File
          <input type="file" nv-file-select uploader="ifo.uploader" class="fileInput" />
        </div>
        <a href="#/main/"
          class="btn btn-default btn-block" translate>
            Back
        </a>
      </div>
    </div>
  </div>
</div>
